<!-- Slider Start -->
<section id="global-header" style="background-image: url('{{.Params.BgImage | absURL }}'); background-size:cover; position: relative; background-position: center top; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{ .Title }}</h1>
                    <h2>{{ .Params.subtitle1 }}</h2>
                    <h4>{{ .Params.subtitle2 }}</h4>
                </div>
            </div>
        </div>
    </div>
</section>
