{{ if .Site.Params.slider.enable }}
{{ "<!-- Slider Start -->" | safeHTML}}
<section id="slider" style="background-image: url('{{.Site.Params.slider.bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInLeft delay-4s">{{ .Site.Params.slider.title1 | safeHTML }}</h1>
                    <!--<h2 class="animated fadeIn slow" style="padding-bottom: 40px;">{{ .Site.Params.slider.subtitle1 | safeHTML }}</h2> -->
                    <h2 class="animated fadeIn slow" style="padding-bottom: 40px;">Bridging the <span style="color: #BFA678;">'CYBER-GAP'</span> for Enterprises</h2>
                    <h1 class="animated fadeInRight delay-4s">{{ .Site.Params.slider.title2 | safeHTML }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}