<section id="feature" style="background-image: url('{{ .Site.Params.feature.bgImage | absURL }}');">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <div class="block">
        <div class="section-title">
          <h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
          <ul>
            <li>Every organization is a target and in today’s world, they are under constant attack. With the attack surface becoming increasingly complex and adversaries being highly skilled and motivated, Every organization is also plagued by a myriad of security controls that makes it extremely difficult for them to identify the gaps nor strengthen their security posture.</li>
            <li>Making the right investment and reducing the risk posture requires a use-case driven, intelligence-lead, proven risk mitigation methodology and decision support.</li>
            <li>SecureIQLab believes in getting an end-to-end perspective of the cybersecurity landscape, by focusing our efforts in investigating security solutions that are critical to the current enterprise threat landscape and not just the traditional network and endpoint-based security solutions.</li>
            <li>The next phase in our approach is the ability to derive and focus on cybersecurity solution metrics that matters to enterprises and not just simply based out of test cases against a unified methodology.</li>
            <li>We then move forward validating these solutions under a use-case driven, intelligence-lead methodology which will yield measurable data that are consistent enabling us to quantify our results.</li>
          </ul>
        </div>
          {{ with .Site.Params.feature.button }}
            <a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
          {{ end }}
      </div>
    </div>
  </div>
</div>
</section>